.nav-link {
  font-size: .875rem;
}

.link-black{
  color: black;
}

.bg-dashboard{
  background: #f7faff;
}

.title{
  background: #035ba8;
  padding: .25rem 1.25rem;
}

.card-max-height{
  height:100%;
}

.main-card {
  border: 3px solid white;
}
